.message{
  margin-top: 3rem;
  &__wrap{
    display: flex;
    column-gap: 1rem;
  }
  &__block{
    width: 33%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__text{
    padding: 0 2rem;
    width: 100%;
    height: 60%;
  }
  &__btn{
    width: 18%;
    height: 5rem;
    // border: gray solid 1px;
    border-radius: 8px;
    box-shadow: 5px 8px 8px 5px rgba(2, 2, 15, 0.35);

    transition: translateY 0.2s ease;

    &:hover{
      background-color: rgba(2, 2, 15, 0.1);
      // box-shadow: 5px 8px 8px 5px rgba(2, 2, 15, 0.55);
      box-shadow: 5px 8px 8px 5px rgba(2, 2, 15, 0.35);
    }
    &:active{
      transform: translateY(0.3rem);
      box-shadow: 1px 1px 1px 1px rgba(2, 2, 15, 0.45);
    }
  }
}

.button__wrap{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.verbs {
  color: rgba(34, 115, 180, 0.651);
  font-weight: bold;
}

.nouns {
  color: rgba(204, 15, 15, 0.651);
  font-weight: bold;
}

.adverbs {
  color: rgba(140, 184, 38, 0.651);
  font-weight: bold;
}

.adjectives {
  color: rgba(167, 38, 184, 0.651);
  font-weight: bold;
}

.phrase {
  color: rgba(184, 38, 70, 0.651);
  font-weight: bold;
}